@import "tailwindcss";

@theme {
  --color-bg: #e2e2e2;
  --color-rich-black: #131b23;
  --color-primary: #00ffb0;
  --color-secondary: #d64933;
  --shadow-bottom-sm: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  --shadow-around: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.flex--center {
  @apply flex justify-center items-center;
}

.category--selector--Mobile {
  @apply md:!overflow-x-auto;
  article {
    @apply md:flex-nowrap md:!overflow-x-auto md:!w-max md:!justify-normal;
  }
}

.category--selector--Desktop {
  @apply bg-transparent;
  article {
    @apply !flex-wrap !overflow-x-hidden w-auto justify-center;
  }
}
